## Algerian Forest Fires dataset

The Algerian Forest Fires dataset contains 244 instances, grouping data from two regions of Algeria. This dataset is commonly used for wildfire prediction and analysis tasks.

In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [65]:
df_algerian_data=pd.read_csv("Algerian_forest_fires_dataset.csv",header=1)
df_algerian_data.head()

   1  6  2012  29  57  18     0  65.7  3.4   7.6  1.3 3.4.1  0.5  not fire
0  2  6  2012  29  61  13   1.3  64.4  4.1   7.6    1   3.9  0.4  not fire
1  3  6  2012  26  82  22  13.1  47.1  2.5   7.1  0.3   2.7  0.1  not fire
2  4  6  2012  25  89  13   2.5  28.6  1.3   6.9    0   1.7    0  not fire
3  5  6  2012  27  77  16     0  64.8    3  14.2  1.2   3.9  0.5  not fire
4  6  6  2012  31  67  14     0  82.6  5.8  22.2  3.1     7  2.5      fire

In [66]:
df_algerian_data.isnull().sum()

1              1
6              2
2012           2
29             2
57             2
18             2
0              2
65.7           2
3.4            2
7.6            2
1.3            2
3.4.1          2
0.5            2
not fire       3
dtype: int64

In [67]:
df_algerian_data.isnull()

,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4.1,0.5,not fire
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,False,False,False,False,False,False,False,False,False,False,False,False,False,False
242,False,False,False,False,False,False,False,False,False,False,False,False,False,False
243,False,False,False,False,False,False,False,False,False,False,False,False,False,False
244,False,False,False,False,False,False,False,False,False,False,False,False,False,False
245,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [68]:
df_algerian_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1            245 non-null    object
 1   6            244 non-null    object
 2   2012         244 non-null    object
 3   29           244 non-null    object
 4   57           244 non-null    object
 5   18           244 non-null    object
 6   0            244 non-null    object
 7   65.7         244 non-null    object
 8   3.4          244 non-null    object
 9   7.6          244 non-null    object
 10  1.3          244 non-null    object
 11  3.4.1        244 non-null    object
 12  0.5          244 non-null    object
 13  not fire     243 non-null    object
dtypes: object(14)
memory usage: 27.0+ KB

In [69]:
## data cleaning

df_algerian_data[df_algerian_data.isnull().any(axis=1)]

,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4.1,0.5,not fire
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,14,7,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN

In [70]:
df_algerian_data.loc[:122,"Region"]=0
df_algerian_data.loc[122:"Region"]
df_algerian_data

,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4.1,0.5,not fire,Region
0,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,0.0
1,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0.0
2,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,0.0
3,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,0.0
4,6,6,2012,31,67,14,0,82.6,5.8,22.2,3.1,7,2.5,fire,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,9,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire,NaN
242,27,9,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire,NaN
243,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire,NaN
244,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire,NaN
245,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire,NaN

In [71]:
df_algerian_data[['Region']]=df_algerian_data[['Region']].astype(int)
df_algerian_data

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df_algerian_data.isnull().sum()

1                1
6                2
2012             2
29               2
57               2
18               2
0                2
65.7             2
3.4              2
7.6              2
1.3              2
3.4.1            2
0.5              2
not fire         3
Region         123
dtype: int64

In [ ]:
## remove the null
df=df_algerian_data.dropna().reset_index(drop=True)

In [ ]:
df.isnull().sum()

1              0
6              0
2012           0
29             0
57             0
18             0
0              0
65.7           0
3.4            0
7.6            0
1.3            0
3.4.1          0
0.5            0
not fire       0
Region         0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1            121 non-null    object
 1   6            121 non-null    object
 2   2012         121 non-null    object
 3   29           121 non-null    object
 4   57           121 non-null    object
 5   18           121 non-null    object
 6   0            121 non-null    object
 7   65.7         121 non-null    object
 8   3.4          121 non-null    object
 9   7.6          121 non-null    object
 10  1.3          121 non-null    object
 11  3.4.1        121 non-null    object
 12  0.5          121 non-null    object
 13  not fire     121 non-null    object
 14  Region       121 non-null    float64
dtypes: float64(1), object(14)
memory usage: 14.3+ KB

In [ ]:
df[['Region']]=df[['Region']].astype(int)

In [ ]:
df.iloc[[120]]

,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4.1,0.5,not fire,Region
120,30,9,2012,25,78,14,1.4,45,1.9,7.5,0.2,2.4,0.1,not fire,0

In [72]:
df.columns

Index(['1', '6', '2012', '29', '57', '18', '0', '65.7', '3.4', '7.6', '1.3',
       '3.4.1', '0.5', 'not fire   ', 'Region'],
      dtype='object')